<section class="">
  <!-- Perfil -->
  <h3>Perfil</h3>
  <p>
    Institution University ITM systems engineer, with 3 years of overall experience in development of information systems, solid knowledge, abilities and skills in the computer science and its associated technologies, such as hardware, software and computer systems; domain of computational tools, creative, dynamic, able to analyze, design, programming, operating and control systems of information, good management of computer projects, software development, web development and performance in the area of systems, open to a dynamic business and able to make responsible decisions.
  </p>

  <!-- Perfil Ingeniero de sistemas -->
  <h3><a id="designer-templates" class="anchor" href="#designer-templates" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Professional systems engineering : <a href="https://twitter.com/alexlondon07" class="twitter-follow-button" data-show-count="false">Follow @alexlondon07</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></h3>
  <ol>
    <li>Development of computer systems assume the role of designer and developer of the computational component, in agreement with other members of a working group.</li>
    <li>Development of computer systems assume the role of designer and developer of the computational component, in agreement with other members of a working group.</li>
    <li>Support to solve operational and technical users of information systems,Keep running the required infrastructure.</li>
    <li>Coordinate a proper maintenance and renewal of equipment and computer systems base.</p>
    <li>Computer Services Manager; with responsibility to play provision thereof which are the basis for the work of any organization. You have the ability to not only keep running the required infrastructure, but also to coordinate a proper maintenance and renewal of equipment and computer systems.</li>
    <li>As a person able to give training, support, troubleshoot operational and technical users of information systems</li>
  </ol>
  <!-- Fin Perfil como Ingeniero de sistemas -->
</section>
